/* Clock */
.clock-container {
  font-family: "SAO Torpes", sans-serif !important;
  background: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: right;
  /*text-align: center;*/
  margin-bottom: 0;
  animation: fadeIn 0.6s ease-out 0.2s both;
}

.clock-time {
  transform: scaleY(1.3);
  display: inline-block;
  -webkit-text-stroke: 1px chocolate;
  font-size: 3rem;
  font-weight: 150;
  color: var(--header-text);
  font-variant-numeric: tabular-nums;
  /*text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
}

/* Responsive Design */
@media (max-width: 768px){
  .clock-container {
    text-align: center;
  }

  .clock-time {
    font-size: 2rem;
  }
}