* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /*background: 
    radial-gradient(
      circle at 90% 20%,
      rgba(255, 133, 47, 0.35),
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle at 10% 90%,
      rgba(255, 119, 40, 0.493),
      rgba(0, 0, 0, 0) 55%
    ),
    linear-gradient(180deg, #0a0a0a, #000000);*/
  background-image: url('../../../client/public/wallpaper1.jpg');
  background-attachment: fixed;
  background-position: center;
  color-scheme: dark;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global UI font */
body, button, input, textarea {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "SAO Torpes";
  src: url("../../public/fonts/SaoTorpes.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* App Container */
.app-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

/* Responsive design */
@media (max-width: 768px) {
    .app-container {
    padding: 1rem;
  }
}

/* Global Material Icon control */
.material-icons {
  font-size: 30px;   /* override ALL */
  line-height: 1 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-large { font-size: 36px; }
.icon-medium { font-size: 28px; }
.icon-small { font-size: 18px; }